#fondoAdmin{
    background: rgb(153, 153, 153);
    background: radial-gradient(circle, rgb(202, 200, 178) 0%, rgb(242, 239, 231) 100%);

}

#fondoApp{
    background: rgb(153, 153, 153);
    background: radial-gradient(circle, rgb(202, 200, 178) 0%, rgb(242, 239, 231) 100%);
}
/* Path: public\css\css.css */
#fondoLogin{
    background: rgb(255, 255, 255);

}

#fondoEditar{
    background: rgb(153, 153, 153);
    background: radial-gradient(circle, rgb(202, 200, 178) 0%, rgb(242, 239, 231) 100%);
}

#logo {
    width: 58px;
    height: 52px;
    margin-top: 10px;
    margin-left: 10px;

    }
#logo img {
    width: 100%;
    height: auto;
    display: block;
}

#nav{

    background: radial-gradient(circle, rgb(14, 14, 0) 0%, rgb(0, 0, 0) 80%); 
    

}

li {
    text-decoration-color: #000000;
}

li:hover{
    background:rgba(155, 149, 98, 0.589);
    
}

#btn {
    border: 1px solid #776f00;
    border-radius: 2px;
    text-align: center;
    background: rgba(254, 255, 214, 0.705);
}

#btn:hover {
    background: rgba(150, 150, 150, 0.096);
}

#borderDemo {
    outline: 5px dashed rgba(0,0,0,0.64);
    outline-offset: 0px;
}


#textDemo{
    text-shadow: 4px 3px 0 #07e0e0, -40px -23px 0px rgba(206,89,55,0);
    color: #ffffff;
    background-color: #000c0a;
    font-size: 50px;
    font-weight: bold;
}

#textDemo:hover{
    background: rgba(161, 148, 26, 0.671);
    font-size: 53px;
}

#textsubDemo{
    text-shadow: 4px 3px 0 #36320d, -40px -2px 0px rgba(206,89,55,0);
    color: #fffffb;
    font-size: 24px;
    font-weight: bold;
}

#sectionDemo{
    background-color: #e8fce3;
    background: repeating-linear-gradient( -45deg, #c7c7c78e, #feffbd60 5px, rgba(255, 255, 255, 0.589) 5px, #ffffff85 50px ); 
    /* background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f7f7f7ad 25px ), repeating-linear-gradient( #37c58344, #75c9a662 ); */
}

#rayoEfecto{
    margin-top: 120px;
    width: 150px;
    height: 70%;
}
#rayoEfecto:hover{
    margin-top: 120px;
    width: 170px;
    height: 70%;
    animation: rayo 1s infinite;
}

